APP_NAME="MediaBuyer Pro CRM"
APP_ENV=local
APP_KEY=base64:zZ5uFkY+9W2gL9V2oK7t0F6hM1aX3rP8eQ4jL7sD2eY=
APP_DEBUG=true
APP_TIMEZONE=Africa/Cairo
APP_URL=http://localhost:8000

APP_LOCALE=ar
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite
# Or for MySQL / PostgreSQL:
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=crm_forme
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync

# Meta Graph API
META_APP_ID=your_meta_app_id
META_APP_SECRET=your_meta_app_secret
META_ACCESS_TOKEN=EAAdnglLCaJkBSUJ9GWvklCWcjKnWndyvZBb4ZC4Kkb7MChUMp0pGaXIn9sunuWUp268Jce6aBIXNNQOHxf9z4tGNUKlZCAU1535naZAF4Iq8Ox7ZBkAybsWaNZAqL0TSTXlyLPQZC8iPxInrcfDZCruP7J6wfA03ys5ZCcrqZAHnXfAin4fu2QvTWc2ZAJfgysOsuvumZAmALZAiGLjJrKXazeyZBEcbkxqTcdo7nlmtrZBQC7UkIaLyg1mdJpY5lXrzXmxalaGypiVoeIVY2oB9BnYrBHt06TceTrZAiddp1QZDZD
META_WEBHOOK_VERIFY_TOKEN=crm_secret_verify_token_2026

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
